/* Styles globaux */

/* Définition de la police pour tout le corps de la page */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Logo */
#logo {
    position: absolute; /* Positionnement absolu par rapport à son parent positionné */
    top: 10px; /* Décalage de 10px depuis le haut */
    left: 350px; /* Décalage de 10px depuis la gauche */
    width: 240px; /* Largeur du logo */
  }

  /* Header */
  
  /* Styles pour l'élément "header" */
  header {
    background-color: #ffffff; /* Couleur de fond */
    color: black; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 1em; /* Espacement intérieur */
  }

  /* Sections */
  
  /* Styles pour chaque section */
  section {
    margin: 20px; /* Espacement extérieur */
    padding: 20px; /* Espacement intérieur */
    border: 1px solid #ffffff; /* Bordure d'1px, de couleur gris clair */
  }
  
  /* Footer */
  
  /* Styles pour le pied de page "footer" */
  footer {
    background-color: #ffffff; /* Couleur de fond */
    color: black; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 1em; /* Espacement intérieur */
  }
  
  .skill {
    margin: 20px 0;
}

/*.skill p {
    font-weight: bold;
}*/

.barDeProgression {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.progression {
    height: 10px;
    background-color: #8400ff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}